{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Chocobo Pedigree</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "site.css" %}" />
</head>

<body>

<div>
<h1>Chocobo-Pedigree</h1>
<p>
    Welcome! This is a WIP site for saving and sharing your Final Fantasy XIV racing chocobo's family tree!</br>
    Simply make a free account and add your chocobos to create a clean linkable chocobo family tree.
    </br>
    </br>
    {% if user.is_authenticated %}
        <a href="/user/{{user.id}}">My Chocobos</a>
        </br>
        <div><a href="/new_choco">Add Chocobo</a></div>
        </br>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/register"> Register</a>
        </br>
        <a href="/login"> Login</a>
    {% endif %}
    
    
</p>
</div>
{% if user.is_authenticated %}
    <div>Logged in as {{user}}</div>
{% endif %}
</body>
</html>
